/* poppins-regular - latin */

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../assets/fonts/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/fonts/poppins-v5-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
  url("../assets/fonts/poppins-v5-latin-regular.woff") format("woff"), /* Modern Browsers */
  url("../assets/fonts/poppins-v5-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../assets/fonts/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}

* {
  font-family: "Poppins";
  scroll-behavior: smooth;
}


.App{
  /* background-color:black; */
  height:100%;
  width:100%;
  position:relative;
}
.box{
  height:200px;
  width:200px;
  background-color:red;
  color:white;
}