.formContent, .hintText {
  height: 100vh;
  width: auto;
  background-color: #fff!important;
  color: #5e8ab4;
  margin-bottom: 0px !important;
}
.img {
  height: auto !important;
  width: 60% !important;
  margin-top: 20%;
}

.contain {
  background: #5e8ab4;
  width: 100%;
  color: #fff;
}

.reg {
  font-size: 60px;
  padding: 10px 10px;
  margin: auto;
  width: 50%;
  font-weight: bolder;
}

.instruction {
  font-size:15px;
  padding: 5px 5px;
  margin: auto;
  width: 50%;
  font-weight: normal;
}

.form {
  padding-left: 30px;
}

#undefined-EnteryourName-Name-14709 {
  background-color: #fff !important;
  color: #fff !important;
}

@media only screen and (max-width:620px){
  .formContent{
    height: 100%;
    width: 100%;
    margin-bottom: 0px !important;
  }

  .form{
    padding-left:50px !important;
  }

  .contain {
    background: #5e8ab4;
    color: white;
    
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

  .reg{
    font-size: 40px;
    padding-top: 40px;
  }

  .instruction{
    font-weight: bold;
  }

  img{
    margin-left: 70px;
    margin-bottom: 40px;
  }
}
