.formContent, .hintText {
  height: 100vh;
  width: auto;
  background-color: #fff!important;
  color: #5e8ab4;
}

.reg {
  font-size: 60px;
  padding: 20px 20px;
  margin: auto;
  width: 50%;
  font-weight: bolder;
}

.instruction {
  font-size:15px;
  padding: 5px 5px;
  margin: auto;
  width: 50%;
  font-weight: normal;
}

.form {
  padding-left: 30px;
}

#undefined-EnteryourName-Name-14709 {
  background-color: #fff !important;
  color: #fff !important;
}

@media only screen and (max-width:620px){
  .formContent{
    height: 100%;
    width: 100%;
    margin-bottom: 0px !important;
  }

  .form{
    padding-left:50px !important;
  }

  .reg{
    font-size: 40px;
    padding-top: 40px;
  }

  .instruction{
    font-weight: bold;
  }
}
