
p.styles_typicalWrapper__1_Uvh{
  font-size: 15px !important;
  width: 100% !important;
  
  margin-left: 10px !important;
  /* margin-left: 15px; */
  /* margin-top: 60px !important; */

}
.FrontGrid {
  margin-top: 120px !important;
}
.frontContent {
  background:#5e8ab4;
  /* background: url(./../assets/background-01.png); */
  height: 100vh;
  width: auto;
  color:#fff;
}

.community {
  height: 80%;
  width: 80%;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;

}

p.styles_typicalWrapper__1_Uvh{
  font-size: 15px !important;
  width: 100% !important;
  
  margin-left: 10px !important;
  /* margin-left: 15px; */
  /* margin-top: 60px !important; */

}

.front-info {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  color: #fff;
  text-align: center !important;
}

.button {
  margin-top: 50px;
}

.acmlogo {
  height: auto !important;
  width: 150px !important;
  /* padding-top: 30px; */
  /* vertical-align: center; */
  margin-left: 40%;
  margin-top: 10px !important;
}

.name {
  font-size: 7px;
  margin-top: 10px !important;
  /* vertical-align: center; */

}

.button {
  /* margin-left: 150px !important; */
  /* padding-left: 2px !important ; */
  background: #4174a3;
  /* padding: 10px ; */
  padding: 10px 10px;
  color: #fff;
  margin-left: 200px;
  width: 100px;
  border-radius: 20px;
}

.button:hover{
  background: white;
  
}

.apply:hover {
  color: #5e8ab4;
  /* background: white; */
}


  .aws-btn__wrapper::after{
  background: #9D2235 !important;
  border-radius:  10px !important;
  text-align: center !important;
  /* margin-left: 30px !important; */



}


.apply {
  text-decoration:none;
  cursor: pointer;
  color: #fff;
  align-content: center !important;
  margin-left: 15%;
}

.heading {

  align-content: center !important;
  align-items: center !important;
}



.ACM {
  padding-top: 30px;
}

.styles_typicalWrapper__1_Uvh {
  font-size: 20px;
  padding-bottom:20px;
}

@media only screen and (max-width:620px){
  
  .acmlogo {
      margin-top:10px;
      margin-left:210px !important;

  }

  .community{
    margin-top: -100px !important;
    height: auto;
    width: 300px;
    margin-left: 150px;
  }

  .front-info {
    padding: 5px 5px !important;
    font-size: 10px;
    margin-right: 10px;
    margin-left: 5px;
  }

  .frontContent{
    height: 100%;
    background-size: 100% 100% !important;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }
  p.styles_typicalWrapper__1_Uvh{
    padding: 15px 15px !important;
    margin-left: 20% !important;
  }

  .button {
    width: 20%;
    margin-left: 250px;
    padding: 2px 2px;
    margin-top: 30px !important;
    margin-bottom: 50px;
  }

  .apply{
    font-size: 20px !important;
  }
}